@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "reset.css";
@import "variables.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "screens/login.css";
@import "components/screen-header.css";
@import "components/user-components.css";
@import "screens/friends.css";
@import "screens/finds.css";
@import "components/badge.css";
@import "components/noti-point.css";

body {
    font-family: "Open Sans", sans-serif;
}

.main-screen {
    position: relative;
    top: 112px;
    padding: 0 var(--horizontal-space);
}