.nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 20px 0;
    background-color: #F9F9FA;
    border-top: 1px solid #E2E2E2;
}
.nav__list {
    display: flex;
    justify-content: space-around;
}

.nav__link {
    color: #2e363e;
    position: relative;
}

.nav__notification {
    position: absolute;
    left: 15px;
    bottom: 15px;
}